


<pre>


publishing:

	first publish:
		<code tcsh>
		git commit -am --allow-empty && npm publish --access public
		</code>

	later publishes
		<code tcsh>
		yarn run status && git add --all && git commit -m --allow-empty && npm version patch && npm publish --access public
		</code>
		
</pre>