


<pre><code>

import { MAKE_DB } from '@/GRID/DB'
const DB = await MAKE_DB ({
	/*
		THE STORAGE FUNCTION IS CALLED ONCE WHEN
		THE DB IS BEING MADE, AND THEN
		ISN'T CALLED AGAIN.
	*/
	async warehouse () {
		return {
			SIZE: {
				WIDTH: window.innerWidth,
				HEIGHT: window.innerHeight
			}
		}
	},
	
	PLAYS: {
		async RESIZE ({ STORAGE, CHANGE }) {	
			CHANGE ("SIZE", {
				WIDTH: window.innerWidth,
				HEIGHT: window.innerHeight
			})		
		}
	},
	
	ON: {
		async START ({ PLAYS }) {
			console.log ("STARTED")
		}
	}			
})	


const UNSUBSCRIBE = DB.SUBSCRIBE (function ({ FIRST, FIELD }) {
	const STORAGE = DB.STORAGE ()
	
	console.log ("SUBSCRIBE WAS CALLED", FIRST, FIELD, STORAGE)
})	


let SIZE = DB.STORAGE ("SIZE")	

</code></pre>