

<body style="text-align: center">
	<style>
		h1, p {
			margin: 0;
			padding: 0;
		}
		
		article {
			margin: 20px 0;
			padding: 20px;
			border: 3px solid #DDD;
			border-radius: 4px;
		}
	
	</style>

	<header>
		<h1>plant stem cyte license</h1>
	</header>

	<article>
		<p style="white-space: pre-line">
			This is the stem cyte of a plant that you
			found on a farm that you have had full
			claim to for the last `9.98 * (2 ** 99382)` 
			aphelions of earth.
			
		</p>
	</article>

	<article>
		<h1>notes</h1>
		<p style="white-space: pre-line">
			where the number system specified is of
			the series [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ],
			where 0 denotes zero.

			"*" denotes that 9.98 should be multiplied by
			the output of the expression in the parenthesis.

			Also "**" denotes that 2 should be multiplied
			by itself 99382 times.
		</p>
	</article>
</body>